<!-- app/views/employees/index.html.erb -->

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Position</th>
      <th>Email</th>
      <th>Salary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @employees.each do |employee| %>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.position %></td>
      <td><%= employee.email %></td>
      <td><%= employee.salary %></td>
      <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
      <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New Employee', new_employee_path %>


